body{
    background-color: #5998e2;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    font-size: 24px;
    word-spacing: 15.9cm;
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.description{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #3e7ecc;
    z-index: -1;
    text-align: center;
}
.description h4{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    color: #12305b;
    animation: wave 1s infinite;
}
.description p{
    color: #12305b;
    margin-bottom: 110px;
    font-size: 17px;
    padding: 9px;
}
.words{
    width: 99%;
    height: fit-content;
    background-color: #5998e2;
    color: #163860;
    display: flex;
    position: absolute;
    margin-left: 42%;
    z-index: -1;
    text-align: center;
}
.words-grid{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5px; 
    height: 100vh; 
}
.words img{
    padding: 10px;
    height: auto;
    width: 290px;
}
.words p{
    font-family: 'Krona One', sans-serif;
}
/* wave animation on text */
@keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
