body{
    background-color: #25243a;
    color: #d1d2db;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.star{
    width: 100%;
    height: 25vh;
}
.star img{
    height: 190px;
    width: auto;
}
/* star shaking when hovered */
.star:hover{
    animation: rotate .7s ease-in-out both;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25%{
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50%{
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75%{
        transform: rotate(2deg) translate3d(0, 0, 0);
    }
    100%{
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
.word-grid{
    grid-gap: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    position: relative;
    text-align: center;
}
.word img{
    width: 220px;
    height: auto;
}
.word h3{
    font-family: Arial, Helvetica, sans-serif;
}
.word p{
    font-family: Arial, Helvetica, sans-serif;
}
@media all and (max-width:800px){
    .star img{
        height: 155px;
        width: auto;
    }
    .word-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        margin-top: 540px;
    }
    .word img{
        width: 190px;
        height: auto;
    }
    .word h3{
        font-size: 16px;
    }
    .word p{
        font-size: 15px;
    }
}