body{
    background-color: black;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}
.container{
    margin: 3%;
}
.colors {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(10, 1fr);
    font-size: 17px;
}
.label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}
.label p{
    font-size: 11px;
}
.red {
    /* Style for each color */
    background-color: #FF280B;
}
.orange {
    
    background-color: #FF730B;
}
.brown {
    background-color: #995323;
}
.yellow{
    background-color: #FFE652;
}
.green{
    background-color: #59C95B;
}
.blue{
    background-color: #3E9BDB;
}.navy{
    background-color: #4968AD;
}.purple{
    background-color: #9E5DA5;
}.white{
    background-color: white;
}.black{
    background-color: #302D30;
    color: white;
}