.words{
    color: #6D462B;
    font-family: arial;
    text-align: center;
    font-size: 34px;
    height: 100vh;
    width: 100%;
 
}
.bear{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.stability{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.stability img{
    height: 650px;
    width: auto;
}
.dirt{
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.dirt img{
    height: 550px;
    width: auto;
}
.acorn{
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}
.soysauce{
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.boring{
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.log{
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.log img{
    height: 450px;
    width: auto;
}
.squirrel{
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.squirrel img{
    height: 450px;
    width: auto;
}
.potato{
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.wisdom{
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.wisdom img{
    height: 450px;
    width: auto;
}
.h{
    width: 100%;
    height: 2px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 90px;
    background-color: #6D462B;
}
.back{
    font-size: 18px;
    padding: 15px;
}
@media all and (max-width:800px){
    body{
        overflow-x: hidden;
    }
    .words{
        font-size: 25px;
    }
    .bear img{
        height: 350px;
        width: auto;
    }
    .stability img{
        height: 380px;
        width: auto;
    }
    .dirt img{
        height: 400px;
        width: auto;
    }
    .acorn img{
        height: 370px;
        width: auto;
    }
    .soysauce img{
        height: 380px;
        width: auto;
    }
    .boring img{
        height: 350px;
        width: auto;
    }
    .log img{
        height: 300px;
        width: auto;
    }
    .squirrel img{
        height: 330px;
        width: auto;
    }
    .potato img{
        height: 430px;
        width: auto;
    }
    .wisdom img{
        height: 380px;
        width: auto;
    }
       

}

   

