body{
    background-color: #FFFBF8;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 7vh;
}
.header-text{
    font-size:23px;
    word-spacing: 15.4cm;
    margin-left: 22px;
    color: #6D462B;
    position: fixed;
}
.title{
    display: flex;
    width: 100%;
    height: 60vh;
    align-items: center;
    font-size: 420px;
    color: #442E23;
    background-color: #FFFBF8;
    z-index: 10;
}
.h{
    width: 97%;
    height: 2px;
    border: 0 none;
    background-color: #6D462B;
    position:fixed;
    margin-left: 14px;
    z-index: -1;
}
.description{
    display: flex;
    width: 100%;
    height: 35vh;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    text-align: center;
    background-color: #60422E;
    color: #FFFBF8;
}
.intro{
    display: flex;
    width: 100%;
    height: 7vh;
    align-items: center;
    margin-top: 8px;
    font-size: 23px;
    justify-content: center;
    align-items: center;

}
.intro-text{
    margin-left: 10px;
    color: #6D462B;

   
}
.icon-grid{
    width: 67%;
    margin: 80px auto 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 30px;   
}
img{
    z-index:0;
    width: 180px;
    height: 180px;
    object-fit: contain;
    object-position: center;
    padding: 10px;
}
.bear-overlay{
    position: absolute;
    margin-left: 90px;
    margin-top: 76px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.stability-overlay{
    position: absolute;
    margin-left: 255px;
    margin-top: 145px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.dirt-overlay{
    position: absolute;
    margin-left: 479px;
    margin-top: 80px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.acorn-overlay{
    position: absolute;
    margin-left: 669px;
    margin-top: 87px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.soysauce-overlay{
    position: absolute;
    margin-left: 797px;
    margin-top: 80px;
    width: 180px;
    height: 180px;
    font-size: 18px;
    text-align: center;
}
.boring-overlay{
    position: absolute;
    margin-left: 75px;
    margin-top: 260px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.log-overlay{
    position: absolute;
    margin-left: 235px;
    margin-top: 320px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.squirrel-overlay{
    position: absolute;
    margin-left: 305px;
    margin-top: 295px;
    width: 180px;
    height: 180px;
    font-size: 19px;
}
.potato-overlay{
    position: absolute;
    margin-left: 460px;
    margin-top: 290px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.wisdom-overlay{
    position: absolute;
    margin-left: 635px;
    margin-top: 290px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.bear-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(2.1);
    -webkit-transform: scale(2.1);
    -ms-transform: scale(2.1);
}
.stability-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(3.5);
    -webkit-transform: scale(3.5);
    -ms-transform: scale(3.5);
}
.dirt-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(2.0);
    -webkit-transform: scale(2.0);
    -ms-transform: scale(2.0);
}
.acorn-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(2.3);
    -webkit-transform: scale(2.3);
    -ms-transform: scale(2.3);
}.soysauce-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(3.4);
    -webkit-transform: scale(3.4);
    -ms-transform: scale(3.4);
}.boring-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
}.log-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(1.7);
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
}
.squirrel-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(1.7);
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
}
.potato-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(1.9);
    -webkit-transform: scale(1.9);
    -ms-transform: scale(1.9);
}
.wisdom-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(1.9);
    -webkit-transform: scale(1.9);
    -ms-transform: scale(1.9);
}
body{
    background-color: #FFFBF8;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 7vh;
}
.header-text{
    font-size:23px;
    word-spacing: 15.4cm;
    margin-left: 22px;
    color: #6D462B;
    position: fixed;
}
.title{
    display: flex;
    width: 100%;
    height: 60vh;
    align-items: center;
    font-size: 420px;
    color: #442E23;
    background-color: #FFFBF8;
    z-index: 10;
}
.h{
    width: 97%;
    height: 2px;
    border: 0 none;
    background-color: #6D462B;
    position:fixed;
    margin-left: 14px;
    z-index: -1;
}
.description{
    display: flex;
    width: 100%;
    height: 35vh;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    text-align: center;
    background-color: #60422E;
    color: #FFFBF8;
}
.intro{
    display: flex;
    width: 100%;
    height: 7vh;
    align-items: center;
    margin-top: 8px;
    font-size: 23px;
    justify-content: center;
    align-items: center;

}
.intro-text{
    margin-left: 10px;
    color: #6D462B;

   
}
.icon-grid{
    width: 67%;
    margin: 80px auto 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 30px;   
}
img{
    z-index:0;
    width: 180px;
    height: 180px;
    object-fit: contain;
    object-position: center;
    padding: 10px;
}
.bear-overlay{
    position: absolute;
    margin-left: 90px;
    margin-top: 76px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.stability-overlay{
    position: absolute;
    margin-left: 255px;
    margin-top: 145px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.dirt-overlay{
    position: absolute;
    margin-left: 479px;
    margin-top: 80px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.acorn-overlay{
    position: absolute;
    margin-left: 669px;
    margin-top: 87px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.soysauce-overlay{
    position: absolute;
    margin-left: 797px;
    margin-top: 80px;
    width: 180px;
    height: 180px;
    font-size: 18px;
    text-align: center;
}
.boring-overlay{
    position: absolute;
    margin-left: 75px;
    margin-top: 260px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.log-overlay{
    position: absolute;
    margin-left: 235px;
    margin-top: 320px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.squirrel-overlay{
    position: absolute;
    margin-left: 305px;
    margin-top: 295px;
    width: 180px;
    height: 180px;
    font-size: 19px;
}
.potato-overlay{
    position: absolute;
    margin-left: 460px;
    margin-top: 290px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.wisdom-overlay{
    position: absolute;
    margin-left: 635px;
    margin-top: 290px;
    width: 180px;
    height: 180px;
    font-size: 25px;
}
.bear-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(2.1);
    -webkit-transform: scale(2.1);
    -ms-transform: scale(2.1);
}
.stability-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(3.5);
    -webkit-transform: scale(3.5);
    -ms-transform: scale(3.5);
}
.dirt-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(2.0);
    -webkit-transform: scale(2.0);
    -ms-transform: scale(2.0);
}
.acorn-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(2.3);
    -webkit-transform: scale(2.3);
    -ms-transform: scale(2.3);
}.soysauce-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(3.4);
    -webkit-transform: scale(3.4);
    -ms-transform: scale(3.4);
}.boring-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(1.8);
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
}.log-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(1.7);
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
}
.squirrel-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(1.7);
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
}
.potato-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(1.9);
    -webkit-transform: scale(1.9);
    -ms-transform: scale(1.9);
}
.wisdom-overlay:hover{
    color:#6D2C0C;
    transition: 1.2s;
    transform: scale(1.9);
    -webkit-transform: scale(1.9);
    -ms-transform: scale(1.9);
}
.button{
    border: none;
    outline: none;
    background: #9a917b;
    padding: 10px 30px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFFBF8;
    cursor: pointer;
    margin: 10px auto;
    border-radius: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}