*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #452e63;
}
.header{
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.header-text{
    font-size: 25px;
    word-spacing: 16cm;
    text-align: center;
    position: fixed;
    color: #cc87d6;
}
.header-text:hover{
    color: #7c52ff;
}
.intro{
    display: flex;
    width: 100%;
    height: 40vh;
    align-items: center;
    justify-content: center;
}
.intro p{
    color: #bc4bac;
    font-size: 55px;
    font-weight: 700;
    font-family: 'Mountains of Christmas', serif;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.7em;
    outline: none;
    animation: animate 5s linear infinite;
}
/* Glowy text animation */
@keyframes animate
{
    0%
    {
        color: #a8429e;
        text-shadow: none;
    }
    100%
    {
        color: #aa5eb7;
        text-shadow: 0 0 7px #aa5eb7,
        0 0 20px #aa5eb7,
        0 0 40px #aa5eb7,
        0 0 80px #aa5eb7,
        0 0 160px #aa5eb7,
    }
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 210px;
    height: 245px;
    background-color: #332354;
    border-radius: 8px;
    margin: 20px;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    cursor: pointer;
    
}
.card:hover{
    transform: rotateY(180deg);
}
.card-front{
    backface-visibility: hidden;
    padding: 13px;
    display: flex;
}
.card-back{
    position: relative;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    padding: 13px;
    display: flex;
    background-color: #806aba;
}
.card img{
    width: 100%;
    height: 215px;
    display: flex;
    padding: 9px;
}

.card-front h5{
    color: #806aba;
    font-size: 33px;
    font-family: 'Mountains of Christmas', serif;
    padding: 4px;
}
.card-back p{
    font-size:20px;
    padding: 4px;
    color: #332354;

}
.back{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.review{
    padding: 12px;
    font-size: 35px;
    color: #806aba;
    text-align: center;
    margin-top: 100px;
    
}
.review-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 30px;
}
.review h1{
    font-family: 'Mountains of Christmas', serif;
    font-size: 45px;
}
.word img{
    width: 150px;
    height: auto;
}
.word h5{
    color: #ddccff;
    font-size: 16px;
}
.word p{
    color: #ddccff;
    font-size: 16px;
}
.word{
    margin: 18px;
}
