body{
    font-family: arial;
    color: white;
    background-color: black;
    overflow-x: hidden;
}
.header{
   display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-top: 10px;
    word-spacing: 15cm;
    color:#f4efd9;
    position: fixed;
}

.title{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    line-height: .1cm;
    font-family: 'Times New Roman', Times, serif;
}
.title h2{
    font-size: 340px;
}
.title h2:hover{
    font-family: Arial, Helvetica, sans-serif;
}
.info{
    width: 100%;
    height: 13vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.info p{
    font-size: 17px;
}
.info h5{
    font-size: 24px;
    word-spacing: 1.2cm;
}
.intro{
    width: 100%;
    height: 20vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}
.word-grid{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 240px;
}
.word-grid h6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.word-grid img{
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.text-box p{
    opacity: 0;
    transition: 0.3s ease;
    background-color: black;
}
/* changes the typeface of "Black" when hovered */
.text-box p:hover{
    opacity: 1;
    font-size:20px;
}
@media all and (max-width:576px){
    .header{
        font-size: 19px;
        word-spacing: 3.9cm;
       }
       .title h2{
        font-size: 180px;
       }
       .info h5{
        font-size: 17px;
       }
       .info p{
        font-size: 15px;
       }
       .intro {
        font-size: 17px;
        height: 15vh;
       }
       .word-grid{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
        margin-top: 160px;
       }
}
