body{
    background-color: #FF6833;
    cursor: none;
}
/* style for customized cursor (chat gpt) */
#custom-cursor {
    position: fixed;
    width: 40px; /* Set the width of the cursor */
    height: 40px; /* Set the height of the cursor */
    background-image: url('images/cursor.png'); /* Specify the path to your custom cursor image */
    background-size: cover;
    pointer-events: none; /* Make sure the cursor doesn't interfere with interactive elements */
    z-index: 9999; /* Ensure the cursor appears above other elements */
    display: none; /* Initially hide the cursor */
  }
/* "click me button" */
.button{
    border: none;
    outline: none;
    background: #FFF6DC;
    padding: 10px 30px;
    font-size: 15px;
    color: black;
    cursor: pointer;
    margin: 10px auto;
    border-radius: 49%;
}
.title{
    font-size: 24px;
    word-spacing: 4.3cm;
    left: 47px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    height: 8vh; 
    position: fixed;
    z-index: 3;
}
.description{
    height: 300vh;
    display: flex;
}
.description-paragraph{
    width: 45%;
    height: 104vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size:17px;
    line-height: .55cm;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FF6833;
    color: #FFF6DC;
    text-align: center;
}
.words{
    width: 27%;
    color: #FFF6DC;
    font-family: arial;
    text-align: center;
    line-height: .7cm;
    margin-left: 46%;
}
.words-2{
    width: 27%;
    color: #FFF6DC;
    font-family: arial;
    text-align: center;
    line-height: .7cm;
}
.halloween{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F2592A;
}
.harvest{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F2592A;
}
.carrots{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F2592A;
}
.sun{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F2592A;
}
.enthusiasm{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F2592A;
}
.pumpkin{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e85326;
}
.warmth{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e85326;
}
.autumn{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e85326;
}
.tangerine{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e85326;
}
.tiger{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e85326;
}
.nav{
    position: fixed;
    z-index: 4;
    font-family: arial;
    margin-top: 750px;
    margin-left: 300px;
}
@media all and (max-width:800px){
    .title{
        font-size: 18px;
        word-spacing: 4cm;
        left: 12px;
    }
    .description-paragraph{
        height: 50vh;
        width: 100%;
        position: absolute;
    }
    .words{
        width: 100%;
        margin-left: 0;
        margin-top: 360px;
    }
    .words-2{
        width: 100%;
        margin-top: 360px;
    }
    .words img{
        height: 170px;
        width: auto;
    }
    .words-2 img{
        height: 155px;
        width: auto;
    }
}