*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif; 
}
body{
    background-color: #3e5b46;
    overflow-x: hidden ;
}
.header{
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-top: 10px;
    word-spacing: 16cm;
    position: fixed;
    z-index: 5;
}

.book{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 90vh;
}
/* css codes for book-flip animation (watched youtube video) */
.book:hover .cover{
    transform: rotateX(10deg) rotateY(-180deg);
}
.book:hover .page{
    transform: rotateX(10deg) rotateY(-180deg);
    z-index: 2;
}
.cover{
    z-index: 1;
    transition: all 2.5s;
}
.back-cover{
    z-index: -2;
}
.cover, .back-cover{
    height: 500px;
    width: 410px;
    background-color: #5a916b;
    border-radius: 2px 20px 20px 2px;
    position: absolute;
    box-shadow: 1px 1px 10px #364c3b;
    transform: rotateX(10deg);
    transform-origin: center left;
}
.page, .last-page{
    height:450px;
    width: 378px;
    background:#fefcf4 ;
    position: absolute;
    border-radius: 2px 10px 10px 2px;
    transform: rotateX(10deg);
    z-index: -1;
    transform-origin: center left;
}

/* book flipping animation */
.page:nth-child(2){
    transition-duration: 2.5s; 
}
.page:nth-child(3){
    transition-duration: 2.2s; 
}
.page:nth-child(4){
    transition-duration: 1.9s; 
}
.page:nth-child(5){
    transition-duration: 1.6s; 
}
.page:nth-child(6){
    transition-duration: 1.3s; 
}
.book:hover .page:nth-child(2){
    transition-duration: 5s;
}
.book:hover .page:nth-child(3){
    transition-duration: 4.7s;
}
.book:hover .page:nth-child(4){
    transition-duration: 4.4s;
}
.book:hover .page:nth-child(5){
    transition-duration: 4.1s;
}
.book:hover .page:nth-child(6){
    transition-duration: 3.8s;
}
/* the content is written on the last page of the book */
.last-page img{
    width: 300px;
    display: block;
    margin: 20px auto;
    position: relative;
    z-index: -1;
}
.last-page h3{
    text-align: center;
    font-size: 16px;
    color:#253529;
    font-family: 'Albert Sans', sans-serif;
}
.last-page p{
    text-align: center;
    font-size: 13px;
    color:#253529;
    padding: 10px;
    font-family: 'Albert Sans', sans-serif;
}
.cover P{
    font-size: 50px;
    margin: 20px auto;
    margin-left: 20px;
    position: relative;
    color: #253529;
    font-family: 'Albert Sans', sans-serif;
}
/* images and vocabulary */
.words{
    display: grid;
    width: 100%;
    grid-auto-rows: 250px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    grid-row-gap: 60px;
    padding: 20px;
    text-align: center;
    color: #f4efd9;
    background-color: #2b3c2f;
}
.words h6{
    font-size: 23px;
}
.words p{
    font-size: 20px;
    margin-top: 10px;
}

@media all and (max-width:800px){
    .header{
        font-size: 20px;
        word-spacing: 4.1cm;
       }
       .cover, .back-cover{
        height: 340px;
        width: 250px;
       }
       .page, .last-page{
        height:290px;
        width: 224px;
       }
       .last-page img{
        width: 160px;
       }
       .last-page h3{
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
       }
       .last-page p{
        font-size:8.5px;
        padding: 6px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
       }
       .cover p{
        font-size: 40px;
       }
       .words img{
        width: 200px;
        height: auto;
       }
       .words h6{
        font-size: 19px;
       }
       .words p{
        font-size: 17px;
        margin-top: 8px;
       }
    
}
