*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif; 
}
body{
    background-color: #3e5b46;
    overflow-x: hidden ;
}
.header{
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-top: 10px;
    word-spacing: 16cm;
    color:#f4efd9;
    position: fixed;
    z-index: 5;
}
.header:hover{
    color: #90dda6;
}
.book{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 90vh;
    
}
.book:hover .cover{
    transform: rotateX(10deg) rotateY(-180deg);
}
.book:hover .page{
    transform: rotateX(10deg) rotateY(-180deg);
    z-index: 2;
}
.cover{
    z-index: 1;
    transition: all 2.5s;

}
.back-cover{
    z-index: -2;
}
.cover, .back-cover{
    height: 500px;
    width: 410px;
    background-color: #5a916b;
    border-radius: 2px 20px 20px 2px;
    position: absolute;
    box-shadow: 1px 1px 10px #364c3b;
    transform: rotateX(10deg);
    transform-origin: center left;
}
.page, .last-page{
    height:450px;
    width: 378px;
    background:#fefcf4 ;
    position: absolute;
    border-radius: 2px 10px 10px 2px;
    transform: rotateX(10deg);
    z-index: -1;
    transform-origin: center left;
}

/* book flipping animation */
.page:nth-child(2){
    transition-duration: 2.5s; 
}
.page:nth-child(3){
    transition-duration: 2.2s; 
}
.page:nth-child(4){
    transition-duration: 1.9s; 
}
.page:nth-child(5){
    transition-duration: 1.6s; 
}
.page:nth-child(6){
    transition-duration: 1.3s; 
}
.book:hover .page:nth-child(2){
    transition-duration: 5s;
}
.book:hover .page:nth-child(3){
    transition-duration: 4.7s;
}
.book:hover .page:nth-child(4){
    transition-duration: 4.4s;
}
.book:hover .page:nth-child(5){
    transition-duration: 4.1s;
}
.book:hover .page:nth-child(6){
    transition-duration: 3.8s;
}

.last-page img{
    width: 300px;
    display: block;
    margin: 20px auto;
    position: relative;
    z-index: -1;
}
.last-page h6{
    text-align: center;
    font-size: 17px;
    color:#253529;
}
.last-page p{
    text-align: center;
    font-size: 14px;
    color:#253529;
}
.cover P{
    font-size: 50px;
    margin: 20px auto;
    margin-left: 20px;
    position: relative;
    color: #253529;
}
.words{
    display: grid;
    width: 100%;
    grid-auto-rows: 250px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    grid-row-gap: 60px;
    padding: 20px;
    text-align: center;
    color: #f4efd9;
    background-color: #2b3c2f;
}
.words h6{
    font-size: 28px;
}
.words p{
    font-size: 20px;
}
.back{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 70px;
}
